/* ///////////////////////[ FONT ] ////////////////////// */

@font-face {
    font-family: TTRounds-Black;
    src: url('../fonts/TT-Round/TTRounds-Black.otf');
}

@font-face {
    font-family: TTRounds-BlackItalic;
    src: url('../fonts/TT-Round/TTRounds-BlackItalic.otf');
}

@font-face {
    font-family: TTRounds-Bold;
    src: url('../fonts/TT-Round/TTRounds-Bold.otf');
}

@font-face {
    font-family: TTRounds-Italic;
    src: url('../fonts/TT-Round/TTRounds-Italic.otf');
}

@font-face {
    font-family: TTRounds-Light;
    src: url('../fonts/TT-Round/TTRounds-Light.otf');
}

@font-face {
    font-family: TTRounds-Regular;
    src: url('../fonts/TT-Round/TTRounds-Regular.otf');
}

@font-face {
    font-family: TTRounds-Thin;
    src: url('../fonts/TT-Round/TTRounds-Thin.otf');
}

@font-face {
    font-family: TTRounds-ThinItalic;
    src: url('../fonts/TT-Round/TTRounds-ThinItalic.otf');
}


/* /////////////////////////////////////////////////////////////////// */

body {
    font-family: TTRounds-Regular;
    background: #eeeeee;
}

.no-space {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* /////////////////////////////////////////////////////////////////// */


/* /////////////////////////////     NavBar ////////////////////////////////////// */

nav {
    z-index: 15000 !important;
}

.nav-item .dropdown-toggle::after {
    color: white !important;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #015D5C !important;
}

.nav-item .dropdown-item {
    color: grey !important;
}

.nav-item .dropdown-item:hover {
    outline: none !important;
    border: none !important;
    background-color: #EDEDED !important;
}

.nav-item .dropdown-item:active {
    background-color: #015D5C !important;
    color: #fff !important;
    outline: none !important;
    border: none !important;
}


/* /////////////////////////////  End NavBar ////////////////////////////////////// */


/* //////////////////////////////  Menu Bar /////////////////////////////////////// */

.container-bar {
    padding-left: 230px;
}

.pulse-button {
    position: relative;
    width: 30px;
    height: 30px;
    border: #BA932D;
    box-shadow: 0 0 0 0 rgba(250, 176, 15, 0.42);
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
    background: #BA932D;
    color: white;
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 7px rgba(250, 176, 15, 0.42);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 7px rgba(250, 176, 15, 0.42);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 7px rgba(250, 176, 15, 0.42);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 7px rgba(250, 176, 15, 0.42);
    }
}

#inOutArrow {
    text-align: right;
}

.menu-bar {
    padding-top: 6px;
    color: #BA932D;
    font-weight: bolder;
    text-align: center;
    font-size: 18px;
    margin-top: 8px;
    margin-right: 10px;
    margin-bottom: 8px;
}

.side-menu-bar {
    left: 0;
    position: fixed;
}

.side-menu-bar ul:not(.browser-default) {
    list-style-type: none;
    padding: 0;
}

.side-menu-bar {
    position: fixed;
    left: 0;
    margin: 0;
    width: 230px;
    top: 0;
    bottom: 0;
    background: #FFFFFF;
    z-index: 9999 !important;
    padding-bottom: 60px;
    box-shadow: 0px 0px 10px 1px rgba(123, 123, 123, 0.75) !important;
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    overflow-y: auto;
}

.book-name {
    font-size: 14px;
    position: relative;
    top: -4px;
    text-overflow: hidden;
    white-space: nowrap;
}

.book-arrow {
    font-size: 18px;
    position: absolute;
    right: 15px;
    margin: -4px;
}

.book-icon {
    font-size: 20px;
    padding: 0;
}

.side-menu-icon {
    padding: 10px 10px 5px 15px;
    font-weight: bold;
}

.active {
    background: rgba(2, 125, 124, .5);
    color: #FFFFFF;
}

.active .font-menu,
.active .font-menu:hover {
    color: #FFFFFF !important;
}

.font-menu,
.font-menu:hover {
    color: grey !important;
    text-decoration: none !important;
}

.side-menu-bar ul li:hover {
    cursor: pointer !important;
    background: #EDEDED;
    color: grey;
}

.side-menu-bar ul li.active:hover {
    cursor: pointer !important;
    background: rgba(2, 125, 124, .5);
    color: white;
}


/* //////////////////////////////////////////////////////////////////////////////////// */


/* //////////////////////////////// Filter ///////////////////////////////// */


/* //////////////////////////////// End Filter ///////////////////////////////// */


/* //////////////////////////////// Content-graph ///////////////////////////////// */

.highcharts-button {
    display: inline !important;
}

.highcharts-credits {
    display: none !important;
}

.highcharts-container,
.highcharts-root {
    width: 100% !important;
}

svg {
    width: 100%;
}


/* //////////////////////////////// End Content-graph  ///////////////////////////////// */

@media (max-width: 575.98px) {
    .table-resp {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}

.head-table {
    background: #4b8b8a;
}

.show-none {
    display: none;
}

.show-block {
    display: block;
}

.table td,
.table th {
    padding: 7px 0 7px 7px !important;
}